@{
    ViewData["Title"] = "Account Deleted";
}

<h1>Your account has been deleted</h1>
<p>We're sorry to see you go. If this was a mistake, please feel free to contact our support team.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home</a>
