@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">Welcome to EduCube</h1>
<p class="text-center">Your gateway to learning and growing. Join us today!</p>

<div class="row">
    @if (!User.Identity.IsAuthenticated) // Check if user is not logged in
    {
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Explore Courses</h5>
                    <p class="card-text">Discover a variety of courses tailored to enhance your skills and knowledge.</p>
                    <a href="Courses/Index" class="btn btn-primary mt-auto">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">Access your account and manage your courses and start learning.</p>
                    <a href="Account/Login" class="btn btn-success mt-auto">Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">Create an account to start learning today and take the first step towards enhancing your career.</p>
                    <a href="Account/Register" class="btn btn-info mt-auto">Register</a>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("User")) // Check if the user is a regular student
    {
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Explore Courses</h5>
                    <p class="card-text">Discover a variety of courses tailored to enhance your skills and knowledge.</p>
                    <a href="Courses/Index" class="btn btn-primary mt-auto">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">View and manage your personal information.</p>
                    <a href="Student/Profile" class="btn btn-info mt-auto">View Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Account Settings</h5>
                    <p class="card-text">Manage your account settings and preferences.</p>
                    <a href="Settings" class="btn btn-warning mt-auto">Account Settings</a>
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Teacher")) // Check if the user is a teacher
    {
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Explore Courses</h5>
                    <p class="card-text">Discover a variety of courses tailored to enhance your skills and knowledge.</p>
                    <a href="Courses/Index" class="btn btn-primary mt-auto">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Account Settings</h5>
                    <p class="card-text">Manage your account settings and preferences.</p>
                    <a href="Settings" class="btn btn-warning mt-auto">Account Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Enrollments</h5>
                    <p class="card-text">Customize enrollments and delete courses from students.</p>
                    <a href="Enrollment" class="btn btn-info mt-auto">Manage Enrollments</a>
                </div>
            </div>
        </div>
    }
</div>
