@{
    var userRole = User.IsInRole("Teacher") ? "Teacher" : User.IsInRole("User") ? "User" : "Guest"; // or any default role
    if (userRole == "Teacher")
    {
        Layout = "~/Views/Shared/TeacherLayout.cshtml";
    }
    else if (userRole == "User")
    {
        Layout = "~/Views/Shared/StudentLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml"; // Optional default layout for other roles
    }
}


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

